  
@media screen and (min-width: 320px) {
body {
    background-color: #EBEDFB;
    }
#card {
    width: 90vw;
    height: 52vh;
    background: linear-gradient(169.4deg, #17162B 7.88%, rgba(80, 66, 95, 0.97541) 56.57%, #17162B 86.62%, rgba(254, 202, 255, 0.9) 123.28%);
    border-radius: 8px;
    padding-top: 45vh;
    padding-left: 8vw;
    font-family: arial;
    font-weight: 900;
    font-size: 3em;
    color: #fff;
    }
 #pan {
     letter-spacing: .1em;
    }
}
