  
@media screen and (min-width: 320px) {
body {
    background-color: #EBEDFB;
    }
#card {
    width: 90vw;
    height: 52vh;
    background-color: linear-gradient(169.4deg, #17162B 7.88%, rgba(80, 66, 95, 0.97541) 56.57%, #17162B 86.62%, rgba(254, 202, 255, 0.9) 123.28%);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/luvbucks-mobile.appspot.com/o/lithic_css%2Fcard-bg-logo.svg?alt=media&token=1734cec5-8cb5-4bbf-904f-c1e7715469d1");
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-top: 45vh;
    padding-left: 12px;
    font-family: arial;
    font-weight: 900;
    font-size: 4em;
    color: #fff;
    }
  
.pan-separator {
  margin: 6px;
}
  
 #pan {
     letter-spacing: .1em;
    }
}
